<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>CellularAutomata</string>
		<string>Systems</string>
		<string>NestedSystems</string>
		<string>CAUpdater</string>
		<string>Visualizer</string>
		<string>CAGrid</string>
		<string>DemoControl</string>
		<string>Tests</string>
	</array>
</dict>
</plist>
